

/* button style */
.genbuttons{width:100%; height:auto; padding: 25px 0; width: 50%;}
.genbuttons>button{display: block; float: left; width: 33.33%; padding: 15px 0; background: #FFF; border-left:0;}
.genbuttons>button:nth-child(1){border-left: 2px solid #111;}
.genpanels{ width: 100%; height: auto;}
.genpanels .genpanel{width: 100%; height: auto; box-sizing: border-box; border: 2px solid #111; padding: 40px 10px; display: none;}
