.wrap{width:100%; height:100vh;}

/* header style */
header{width:100%; height:auto; background:#1d1d1d; top:0; z-index:2; position:fixed; top:0; z-index:999;}
header h2{color:#27ae60;}
header .headerCenter{justify-content: space-between; align-items:center;}
header .nav{display:flex;}
header .nav li a{color:#eee; padding:20px 30px; display:block; transition:all 0.3s; font-weight:600;}
header .nav li a:hover{color:#27ae60;}

/* main section style */
.main{width:100%; height:100%; background:url(/movie_app/img/main_img.jpg) no-repeat center center; background-size:cover; position:relative; display:flex; align-items: center;}
.main.detailMain{display:block;}
.main .overlay{width:100%; height:100%; position:absolute; top:0; left:0; background: -webkit-linear-gradient(top, rgba(29,29,29,0.1) 0%,rgba(29,29,29,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(29,29,29,0.1) 0%,rgba(29,29,29,1) 100%); z-index:1;}
.main .slogan{display:flex; justify-content: center; flex-direction: column; align-items: center; width:100%; z-index:2; text-align:center;}
.main .slogan h3.eng{color:#fff; font-size:40px; font-weight:700;}
.main .slogan p.kor{color:#fff; font-family:'Noto Sans KR'; font-size:18px; margin:15px 0;}
.main .slogan em{color:#fff;}
.main .search-box{width:100%; height:auto; display:flex; justify-content: center;}
.main .search-box{margin-top:30px;}
.main .search-box input{border:1px solid #27ae60; background:none; color:#27ae60; padding:0 10px; margin-left:5px; width:30%;}
.main .search-box input::placeholder{color:#27ae60;}
.main .search-box .sendBtn{border:1px solid #27ae60; background:#27ae60; color:#27ae60; padding:0 20px; border-left:0; color:#fff; display:flex; align-items: center;}
.main .search-box .sendBtn:hover{background:#3CBA20;}

/* detail page style */
.items{width:100%; height:auto; padding:100px 0;}
.items .item{width:20%; height:auto;position:relative; float:left; padding:5px;}
.items .item>div{width:100%; height:100%;border:8px solid #fff; position:relative;}
.items .item-sizer{width:20%;}
.items .item .show-more{position:absolute; width:100%; height:100%; background:rgba(255, 255, 255, 0.75); display:flex; align-items:center; justify-content: center; transition:all 0.3s; opacity:0; visibility: hidden;}
.items .item:hover .show-more{opacity:1; visibility: visible;}
.items .item .img-box{width:100%; height:60%; overflow:hidden;}
.items .item img{width:100%;}
.items .item .show-more a{color:#27ae60; font-size:25px; padding:10px; border:2px solid #27ae60; border-radius:50%; display:flex; align-items: center; justify-content: center;}

.items .item .item-txt{background:#fff; font-family:'Noto Sans KR'; padding:5px 15px 0; width:100%; height:40%;}
.items .item .item-txt h2{color:#27ae60; border-bottom:1px solid #27ae60; margin-bottom:10px;}

/* Recent Movies Section Style */
.recent-section{width:100%; height:auto; padding:50px 0;}
.recent-section .section-title{width:100%; height:auto;margin:15px 0; padding-left:15px; border-left:2px solid #27ae60;}
.recent-section .section-title h2{ color:#27ae60; }
.recent-section .recent-moive-wrap{width:20%; padding:5px;}
.recent-section .recent-movies{width:100%; height:100%; padding:5px; box-shadow:0 0 3px #aaa; position:relative;}
.recent-section .loading{width:100%; height:784px; top:0; left:0; padding:100px 0; display:flex; align-items: center; justify-content: center;}
.recent-section .recent-movies .loading img{width:100%; height:100%; z-index:1;}
.recent-section .recent-movies img{width:100%; z-index:10;}
.recent-section .recent-movies .recent-movie-title{color:#27ae60; font-weight:600; padding:10px 0; font-size:16px; width:100%; text-align:center;}

.numBtns{width:100%; height:auto; display:flex; justify-content: center; padding:15px 0;}
.numBtns button{width:25px; height:25px; border:1px solid #27ae60; background:#fff; font-size:14px; outline:0; display:flex; justify-content: center; align-items: center; color:#27ae60; margin:0 3px;}
.numBtns button.active{background:#27ae60; color:#fff;}
.numBtns button.arrow{background:#27ae60; color:#fff;}

/* Each Genre Movies Section Style */
.genre-section{width:100%; height:auto; padding:50px 0; background:#292929;}
.genre-section .genre-tabs{width:100%; height:auto; display:flex; justify-content: center;}
.genre-section .genre-tabs li{padding:10px 30px; background:#27ae60; color:#fff; margin:0 1px; cursor:pointer;}
.genre-section .genre-tabs li a{color:#fff;}

.genre-section .genre-panels{width:100%; height:auto; margin-top:15px; padding:15px 0;}
.genre-section .genre-panels .panel{display:none; _overflow:hidden;}

.genre-section .slide-contents{width:100%; height:auto;_overflow:hidden; position:relative;}
/* .genre-section .slide-contents .slide-wrap{width:100%; height:auto; position:relative; left:0;}
 */
/* .genre-section .slide-contents .slide-box{width:10%; padding:10px; float:left;} */
.genre-section .slide-contents .slide-box{position:relative;}
.genre-section .slide-contents .slide-box>div{padding:5px; background:#fff;}
.genre-section .slide-contents .slide-box img{width:100%;}
.genre-section .slide-contents .slide-box .slide-txt{margin-top:10px; padding:10px 0 0; border-top:1px solid #27ae60;}
.genre-section .slide-txt .slide-title{}
.genre-section .slide-txt h3{color:#27ae60; font-size:14px;white-space:nowrap;text-overflow:ellipsis; width:100%; overflow:hidden;}
.genre-section .slide-txt p{margin:2px 0 10px;}
.genre-section .slide-txt a{display:block; width:100%; padding:5px 0; background:#27ae60; color:#fff; text-align:center;}

.scroll-up{width:100px; height:100px; position:fixed; right:50px; bottom:50px; background:red; z-index:999;}

.lSAction{position:absolute; width:100%;top: 50% ;transform: translateY(-50%);}



*{margin:0; padding:0; box-sizing:border-box;}
.clear:after{display:block; clear:both; content:'';}
.container{width:100%; height:auto; margin:auto; max-width:980px;}
.recent-movie-wrap{float:left; width:20%; padding:10px;}
.recent-movie-wrap img{width:100%;}
.recent-movie-wrap h3{font-size:12px; white-space: nowrap; text-overflow: ellipsis; width:100%; overflow:hidden;}

.numContainer{width:100%; height:auto; _margin:auto; max-width:980px; margin:20px auto 50px;}

.numBtns button.active, .numBtns button.arrow{background:#bbb; color:#fff;}

.loading{width:100%; height:608px; display:flex; justify-content: center; align-items: center;}

.genre-section{width:100%; max-width:980px; height:auto; margin:auto; padding:50px 0;}
.genre-section>div{margin:30px 0;}

.slide-box{padding:5px;}
.slide-box img{width:100%;}